<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> 
  China Talent Scholarship                                                        2016<br/>
  1st Prize of Excellent Student Scholarship                                      2015 - 2016<br/>
  Foreign Exchange Student Scholarship                                            2015<br/>
  Excellent Student Scholarship of Government Office                              2015<br/>
  International Exchange Student Scholarship of UW-Madison                        2015<br/>
  Quality Development Scholarship                                                 2015<br/>
  2nd Prize of Excellent Student Scholarship                                      2014 - 2015<br/>
  Comprehensive Scholarship                                                       2014 & 2015& 2016<br/>
  Merit Student of Soochow University                                             2014 & 2016<br/>
  Social Work Scholarship                                                         2014 & 2016<br/>
  1st Prize of Excellent Student Scholarship                                      2013 - 2014 <br/>
 </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
  </div>
</div>
