<div class="container">
  <div class="user-details">
    <h3> Awards </h3>
    <p> 
  China Talent Scholarship       &nbsp; &nbsp; &nbsp;                                                  2016<br/>
  1st Prize of Excellent Student Scholarship           &nbsp;  &nbsp; &nbsp;                           2015 - 2016<br/>
  Foreign Exchange Student Scholarship                         &nbsp; &nbsp; &nbsp;                    2015<br/>
  Excellent Student Scholarship of Government Office           &nbsp; &nbsp; &nbsp;                    2015<br/>
  International Exchange Student Scholarship of UW-Madison     &nbsp; &nbsp; &nbsp;                    2015<br/>
  Quality Development Scholarship                     &nbsp; &nbsp; &nbsp;                             2015<br/>
  2nd Prize of Excellent Student Scholarship             &nbsp; &nbsp; &nbsp;                          2014 - 2015<br/>
  Comprehensive Scholarship                            &nbsp; &nbsp; &nbsp;                            2014 & 2015& 2016<br/>
  Merit Student of Soochow University                     &nbsp; &nbsp; &nbsp;                         2014 & 2016<br/>
  Social Work Scholarship                               &nbsp; &nbsp; &nbsp;                           2014 & 2016<br/>
  1st Prize of Excellent Student Scholarship              &nbsp; &nbsp; &nbsp;                         2013 - 2014 <br/>
 </p>
  </div>
  <div class="user-details">
    <h3> WORK EXPERIENCE </h3>
    <p> 
<h5>Intern, NONEAD Corporation     </h5>                                                Aug. 2016 - Present<br/>
Responsible for the development of embedded system<br/>
Developed the software of robot: Nexteer automatic screw project, Nexteer rotor sprint project. <br/>
    </p>
    <p>
    <h5>Intern, Jiangsu Suzhou Local Taxation Bureau</h5>                              Jul. 2015 - Aug. 2015<br/>
Responsible for online platform work for the tax system<br/>
Responsible for online account cancellation made by enterprises<br/>
Responsible for online invoice sales<br/>

 </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
  </div>
</div>
