<div class="container">
  <div class="user-details">
    <h3> Education background </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Soochow University </h5>
      
      <p>
        Major: Software Engineering<br/>
        Major GPA:3.7/4.0   <br/>            					           
        Sept. 2013 - Jun. 2016
      </p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> University of Wisconsin Madison</h5>

      <p>
        Major: Computer Science<br/>
        Major GPA:3.5/4.0   <br/>
        Sep. 2015 - Dec. 2015
      </p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
